#page-map {
  width: 100vw;
  height: 100vh;
}

form.page-form {
  width: 350px;
  background: #ffffff;
  padding: 15px 20px;
  position: absolute;
  top: 70px;
  left: 40px;
  z-index: 1;
}

@media only screen and (max-width: 500px ) {
  form.page-form {
    width: 330px;
    background: #ffffff;
    position: absolute;
    top: 0px;
    left: 5px;
    z-index: 1;
  }
  .page-form-search-bar {
    width: 350px!important;
    background: #ffffff00;
    position: absolute;
    top: 440px!important;
    left: 0px!important;
    z-index: 1;
  }
}

.page-form-search-bar {
  width: 614px;
  background: #ffffff00;
  position: absolute;
  top: 2px;
  left: 445px;
  z-index: 1;
}


#page-map .leaflet-container {
  z-index: 0;
}

.clinic-card-left {
  left: 40px;
  z-index: 1;
  position: absolute;
  top: 512px
}

.clinic-card-center {
  left: 480px;
  z-index: 1;
  position: absolute;
  top: 512px
}

.clinic-card-right {
  left: 920px;
  z-index: 1;
  position: absolute;
  top: 512px
}


.search-bar {
  left: 100px;
  z-index: 1;
  position: absolute;
}


form.page-form fieldset {
  border: 0;
}

form.page-form fieldset legend {
  width: 100%;
  font-size: 22px;
  line-height: 24px;
  color: #5c8599;
  font-weight: 700;
  margin-bottom: 20px;
}

form.page-form .input-block + .input-block {
  margin-top: 24px;
}

form.page-form .input-block label {
  display: flex;
  color: #8fa7b3;
  margin-bottom: 8px;
  line-height: 24px;
}

form.page-form .input-block label span {
  font-size: 14px;
  color: #8fa7b3;
  margin-left: 24px;
  line-height: 24px;
}

form.page-form .input-block input {
  width: 100%;
  background: #f5f8fa;
  border: 1px solid #d3e2e5;
  outline: none;
  color: #5c8599;
}

form.page-form .input-block input {
  height: 44px;
  padding: 0 16px;
}

form.page-form button.confirm-button {
  margin-top: 34px;

  width: 100%;
  height: 64px;
  cursor: pointer;
  background-color: #ffffff;
  color: #111111;
  font-weight: 800;
  transition: background-color 0.2s;
}

form.page-form button.confirm-button:hover {
  background-color: #6c79f5;
}


#page-map .map-popup .leaflet-popup-tip-container {
  display: none;
 
}

.container {
  position: relative;
  height: 50px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-top: 24px;
  
}

.coordinates-container {
  position: relative;
  height: 50px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-top: 24px;
  
}

.text_input {
  height: 44px;
  width: 70%;
  padding: 0;
  line-height: 30px;
  font-size: 20px;
  padding: 0;
  background: #f5f8fa;
  border: 1px solid #d3e2e5;
  outline: none;
  padding: 0 16px;
}

.coordinate_text_input {
  height: 44px;
  width: 50%;
  padding: 0;
  line-height: 30px;
  font-size: 20px;
  padding: 0;
  background: #f5f8fa;
  border: 1px solid #d3e2e5;
  outline: none;
  padding: 0 16px;
}
.text_input:focus {
  outline: none;
}

.btn {
  position: absolute; 
  height: 44px;
  line-height: 50px;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0;
  color: black;
  border: none;
  width: 30%;
  font-weight: bold;

}

.form-search-btn {
  position: absolute; 
  height: 44px;
  line-height: 50px;
  right: 0;
  top: 0;
  margin: 0;
  color:#8fa7b3;
  border: none;
  width: 30%;
  font-size: 17px;
  padding-left: 2px;
  padding-right: 2px;
  border: 1px solid #d3e2e5;

}

.required-message {
  color: red;
}

.btn:hover {
  background-color: #6c79f5;
  cursor: pointer;
}

.form-search-btn:hover {
  background-color: #6c79f5;
  cursor: pointer;
}
